<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <test name="Suite1">
        <classes>
            <class name="LoginTest"/>
            <class name="ProductPage"/>
            <class name="Cart"/>
            <class name="Logout"/>
        </classes>
    </test>
</suite>
